/* VARIABLES */
:root {
    --body-text-color: rgb(85, 85, 85);
    --background-color: rgb(255,255,255);
    --title-color: rgb(0,0,0);
    --title-hover-color: grey;
    --nav-color: rgb(181,181,181);
}

/* ANIMATION */

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 17vh;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--body-text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1000;
    animation: fade-down 1000ms 1000ms backwards;
}

/* DESKTOP NAV */

#desktop-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}
nav,
.nav-links {
    display: flex;
}

nav {
    align-items: center;
    height: 60px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

a {
    color: var(--title-color);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: var(--title-hover-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--title-color);
    transition: transform 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--title-color);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    margin: 0 5%;
    box-sizing: border-box;
    min-height: fit-content;
}

section,
.section-container {
    height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    animation: fade-up 1000ms 1000ms backwards;
}

.section__pic-container {
    margin: auto 0;
    height: auto;
    width: 100%;
    display: flex;
}

.section__pic-mask {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.section__pic {
    width: 100%;
    transform: scale(1.25);
    padding-right: 3rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    animation: fade-left 800ms 200ms backwards;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.about-pic-container {
    width: calc(35% - 20px);
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-pic {
    border-radius: 1rem;
}


.about-content-container {
    width: calc(65% - 20px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-content-container {
    transition: transform 0.5s ease-in-out;
}

.about-details-container {
    display: flex;
    gap: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1rem;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* SKILLS SECTION */

#skills {
    position: relative;
}

.skills-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__img { 
    width: 80%;
    max-width: 100px;
    transition: all 0.3s;
    filter: contrast(90%);
}

.skills-containers:hover .skills__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.skills__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.skills-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-containers {
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    position: relative;
}

.skills__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 0.3s;
    opacity: 0;
    color: rgb(85, 85, 85);
    font-weight: 600;
}

.skills-containers:hover .skills__name {
    transform: scale(1);
    opacity: 1;
}


/* PROJECTS SECTION */

#projects {
    position: relative;
}

.project-list {
    display: flex;
    width: 100%;
}

.project-container {
    width: calc(100%);
    justify-content: space-between;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img-mask{
    width: 80%;
    cursor: pointer;
    overflow:hidden;
    transition: all 800ms ease;
}

.project-img-mask:hover {
    border-radius: 2rem;
}

.project-img {
    width: 100%;
    transition: all 800ms ease;
}

.project-img:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.project-btn {
    margin-top: 1rem;
    border-color: rgb(163, 163, 163);
    transition: all 300ms ease;
    display: inline-block;
}

.project-tag {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    display: inline-block;
}

.project-title {
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 100;
    width:80%;
    display: flex;
}

.project-sub-title {
    margin-top: 0.5rem;
    color: rgb(85, 85, 85);
    font-size: 1rem;
    font-weight: 100;
    width: 80%;
        display: flex;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}