/* VARIABLES */
:root {
    /* GENERAL */
    --title-color: rgb(0, 0, 0);
    --section-title-color: rgb(140, 140, 115);
    --background-color: rgb(250, 250, 249);
    --text-color: rgb(0,0,0);

    /* BODY */
    --body-text-color: rgb(85, 85, 85);
    --body-background-color: rgb(250, 250, 249);

    /* HEADER */
    --header-background-color: rgb(250, 250, 249);

    /* NAV */
    --nav-text-color: rgb(0, 0, 0);
    --nav-background-color: rgb(250, 250, 249);
    --nav-hover-color: rgb(181, 181, 181);

    /* HAMBURGER NAV */
    --hamburger-nav-background-color: rgb(250, 250, 249);
    --hamburger-nav-text-color: rgb(0, 0, 0);

    /* BUTTON */
    --button-border-color: rgb(53, 53, 53);
    --button-background-color: rgb(250, 250, 249);
    --button-text-color: rgb(0, 0, 0);

    /* ABOUT */
    --about-background-color: rgb(250, 250, 249);
    --about-border-background-color: rgb(53, 53, 53);
    --about-border-color: rgb(163, 163, 163);

    /* SKILLS */
    --skills-text-color: rgb(85, 85, 85);


    /* EXPERIENCE */
    --experience-background-color: rgb(250, 250, 249);
    --experience-border-background-color: rgb(53, 53, 53);
    --experience-border-color: rgb(163, 163, 163);
    --experience-text-color: rgb(85, 85, 85);
    --experience-title-color: rgb(0, 0, 0);

    /* CONTACT */
    --contact-border-background-color: rgb(53, 53, 53);
    --contact-border-color: rgb(163, 163, 163);
}

/* COLOR MODE */

.dark-mode {
    /* GENERAL */
    --title-color: rgb(255, 255, 255);

    /* BODY */
    --body-text-color: rgb(85, 85, 85);
    --body-background-color: rgb(14, 14, 12);

    /* HEADER */
    --header-background-color: rgb(14, 14, 12);

    /* NAV */
    --nav-text-color: rgb(255, 255, 255);
    --nav-background-color: rgb(14, 14, 12);
    --nav-hover-color: rgb(181, 181, 181);

    /* HAMBURGER NAV */
    --hamburger-nav-background-color: rgb(14, 14, 12);
    --hamburger-nav-text-color: rgb(255, 255, 255);

    /* BUTTON */
    --button-border-color: rgb(53, 53, 53);
    --button-background-color: rgb(14, 14, 12);
    --button-text-color: rgb(255, 255, 255);

    /* ABOUT */
    --about-background-color: rgb(14, 14, 12);
    --about-border-background-color: rgb(53, 53, 53);
    --about-border-color: rgb(163, 163, 163);

    /* SKILLS */
    --skills-text-color: rgb(85, 85, 85);


    /* EXPERIENCE */
    --experience-background-color: rgb(14, 14, 12);
    --experience-border-background-color: rgb(53, 53, 53);
    --experience-border-color: rgb(163, 163, 163);
    --experience-text-color: rgb(85, 85, 85);
    --experience-title-color: rgb(255, 255, 255);

    /* CONTACT */
    --contact-border-background-color: rgb(53, 53, 53);
    --contact-border-color: rgb(163, 163, 163);
}

.light-mode {
        /* GENERAL */
        --title-color: rgb(0, 0, 0);

        /* BODY */
        --body-text-color: rgb(85, 85, 85);
        --body-background-color: rgb(250, 250, 249);
    
        /* HEADER */
        --header-background-color: rgb(250, 250, 249);
    
        /* NAV */
        --nav-text-color: rgb(0, 0, 0);
        --nav-background-color: rgb(250, 250, 249);
        --nav-hover-color: rgb(181, 181, 181);
    
        /* HAMBURGER NAV */
        --hamburger-nav-background-color: rgb(250, 250, 249);
        --hamburger-nav-text-color: rgb(0, 0, 0);
    
        /* BUTTON */
        --button-border-color: rgb(53, 53, 53);
        --button-background-color: rgb(250, 250, 249);
        --button-text-color: rgb(0, 0, 0);
    
        /* ABOUT */
        --about-background-color: rgb(250, 250, 249);
        --about-border-background-color: rgb(53, 53, 53);
        --about-border-color: rgb(163, 163, 163);
    
        /* SKILLS */
        --skills-text-color: rgb(85, 85, 85);
    
    
        /* EXPERIENCE */
        --experience-background-color: rgb(250, 250, 249);
        --experience-border-background-color: rgb(53, 53, 53);
        --experience-border-color: rgb(163, 163, 163);
        --experience-text-color: rgb(85, 85, 85);
        --experience-title-color: rgb(0, 0, 0);
    
        /* CONTACT */
        --contact-border-background-color: rgb(53, 53, 53);
        --contact-border-color: rgb(163, 163, 163);
}
/* ANIMATION */

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 17vh;
    background-color: var(--body-background-color);
    transition: background-color 0.5s, color 0.5s;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--body-text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--header-background-color);
    z-index: 1000;
    animation: fade-down 1000ms 1000ms backwards;
    transition: background-color 0.5s;
}

/* DESKTOP NAV */

#desktop-nav {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: space-between;
}
nav,
.nav-links {
    display: flex;
}

nav {
    align-items: center;
    height: 60px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

a {
    color: var(--nav-text-color);
    text-decoration: none;
    text-decoration-color: var(--nav-background-color);
    transition: all 0.5s;
}

a:hover {
    color: var(--nav-hover-color);
    text-underline-offset: 1rem;
    text-decoration-color: var(--nav-hover-color);
    transition: all 0.5s;
}

.logo {
    color: var(--nav-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.5s;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--hamburger-nav-text-color);
    transition: transform 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--hamburger-nav-background-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--hamburger-nav-text-color);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top:8vh;
    margin: 15% 5%;
    box-sizing: border-box;
    min-height: fit-content;
}

section,
.section-container {
    height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    padding-top: 0;
    margin: 0% 5%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    animation: fade-up 1000ms 1000ms backwards;
}

.section__pic-container {
    margin: auto 0;
    height: auto;
    width: 100%;
    display: flex;
}

.section__pic-mask {
    border-radius: 50%;
    overflow: hidden;
}

.section__pic {
    width: 100%;
    transform: scale(1.25);
    padding-right: 3rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 6rem;
    text-align: center;
    color: var(--section-title-color);
    transition: color 0.5s;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    animation: fade-left 800ms 200ms backwards;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: var(--button-border-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: var(--button-border-color);
    color: var(--button-background-color);
}

.btn-color-1:hover {
    background: var(--button-text-color);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: var(--button-background-color) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.about-pic-container {
    width: calc(35% - 20px);
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-pic {
    border-radius: 1rem;
}


.about-content-container {
    width: calc(65% - 20px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-content-container {
    transition: transform 0.5s ease-in-out;
}

.about-details-container {
    display: flex;
    gap: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--about-background-color);
    border-radius: 2rem;
    border: var(--about-border-background-color) 0.1rem solid;
    border-color: var(--about-border-color);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1rem;
}

/* EXPERIENCE SECTION */


.experience-list {
    position: relative;
    justify-content: center;
    padding-top: 3rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.experience-container {
    margin-bottom: 2rem;
    position: relative;
    width: 50%;
    --img-diameter: 70px;
    --circle-diameter: calc(var(--img-diameter) + 5px);
    --top: 0px;
}

.experience-text-box {
    padding: 2rem 2rem;
    background: rgb(250, 250, 249);;
    border-radius: 0.5rem;
    position: relative;
}

.experience-text-box h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.experience-text-box h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

.experience-date {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.experience-location {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.experience-description {
    padding-left: 20px;
    font-size: 1rem;
    color: rgb(28, 28, 28);
}

.experience-container li {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    color: rgb(28, 28, 28);
}

.left-container {
    padding-right: 60px;
    left: 0;
}

.right-container {
    padding-left: 60px;
    left: 50%;
}

.experience-container img {
    position: absolute;
    width: var(--img-diameter);
    height: var(--img-diameter);
    left: calc(100% - var(--img-diameter)/2);
    top: calc(var(--top));
    z-index:10;
    border-radius: 50%;
    transform: scale(0.9);
}

.experience-container .circle {
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    left: calc(100% - var(--circle-diameter)/2);
    top: calc(var(--top) - (var(--circle-diameter) - var(--img-diameter)) / 2);
    border-radius: 50%;
    background: rgb(140, 140, 115);
    z-index: 10;
}

.right-container .circle {
    left: calc(0% - var(--circle-diameter)/2);
}

.right-container img {
    left: calc(0% - var(--img-diameter)/2);
}

.experience-list::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: rgb(140, 140, 115);
    top: 0;
    left: 50%;
    margin-left: -2.5px;
    z-index: 1;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: calc(var(--top) + var(--circle-diameter)/2 - 15px);
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(250, 250, 249);;
    right: 50px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: calc(var(--top) + var(--circle-diameter)/2 - 15px);
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(250, 250, 249);;
    left: 50px;
}

/* SKILLS SECTION */

#skills {
    position: relative;
}

.skills-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__img { 
    width: 80%;
    max-width: 120px;
    transition: all 0.3s;
    filter: contrast(90%);
}

.skills-containers:hover .skills__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.skills__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.skills-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-containers {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    position: relative;
}

.skills__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 0.3s;
    opacity: 0;
    color: var(--skills-text-color);
    font-weight: 600;
}

.skills-containers:hover .skills__name {
    transform: scale(1);
    opacity: 1;
}


/* PROJECTS SECTION */

#projects {
    position: relative;
}

.desktop {
    margin-top: 2rem;
}

.mobile {
    display: none;
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.main-row {
    width: 100%;
    display: flex;
}

.project-container {
    width: calc(50% - 20px);
    margin-top: 2rem;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    transition: all 800ms ease;
}

.project-img-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    z-index: 3;
    transition: all 800ms ease;
}

.project-img-wrapper:hover:before {
    opacity: 0.7;
}

.project-img-wrapper:hover .project-img {
    transform: scale(1.05);
    filter: blur(5px);
}

.project-img-wrapper:hover {
    border-radius: 2rem;
}

.project-links {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 3;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 800ms ease;
}

.project-link {
    margin: 1rem;
}

.project-img-wrapper:hover .project-links {
    opacity: 1;
}

.project-img {
    width: 100%;
    transition: all 800ms ease;
}

.project-btn {
    margin-top: 1rem;
    border-color: var(--experience-border-color);
    transition: all 300ms ease;
    display: inline-block;
}

.project-tag {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 2rem;
    border: var(--experience-title-color) 0.1rem solid;
    display: inline-block;
    color: var(--experience-title-color)
}

.project-title {
    margin-top: 1rem;
    color: var(--experience-title-color);
    font-size: 1rem;
    font-weight: 100;
    width:80%;
    display: flex;
}

.project-sub-title {
    margin-top: 0.5rem;
    color: var(--experience-text-color);
    font-size: 1rem;
    font-weight: 100;
    width: 80%;
        display: flex;
}

.project-btn {
    color: var(--experience-title-color);
    border-color: var(--experience-border-color);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;

}

.contact-form h2 {
    font-size: 4rem;
    color: var(--body-text-color);
    margin-bottom: 1.5rem;
}

.contact-form p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.contact-info-container h2 {
    font-size: 2rem;
    color: var(--body-text-color);
    margin-bottom: 1rem;
}

.contact-form {
    width: 65%;
    padding: 0 40px;
}


.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.contact-form .input-box input {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.25rem;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid var(--section-title-color);
    background-color: var(--background-color);
    outline: none;
    color: #666;
}

.contact-form .input-box textarea {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.25rem;
    height: 200px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid var(--section-title-color);
    background-color: var(--background-color);
    outline: none;
    color: #666;
    font-family: "Poppins", sans-serif;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span  {
    color: #666;
    font-size: 1.25rem;
    transform: translateY(-30px);
}

.contact-form .input-box input[type="submit"] {
    width: 250px;
    background: var(--button-border-color);
    color: var(--button-background-color);
    border: var(--button-border-color) 0.1rem solid;
    transition: all 300ms ease;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.contact-form .input-box input[type="submit"]:hover {
    background: var(--button-text-color);
}

.contact-info {
    display: relative;
    width: 35%;
    padding: 0 40px;
}

.contact-info-container {
    margin-bottom: 2rem;
}

.contact-info-container ul {
    list-style: none;
    padding: 0;
}

.contact-info-container li {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #666;
}

.social-media li, .resume li{
    cursor: pointer;
    color: #666;
    text-decoration: none;
    text-decoration-color: var(--nav-background-color);
    transition: all 0.5s;
}

.social-media li:hover, .resume li:hover {
    color: var(--nav-hover-color);
    text-underline-offset: 1rem;
    text-decoration-color: var(--nav-hover-color);
    transition: all 0.5s;
}
/* FOOTER SECTION */

footer {
    bottom: 0%;
    padding-bottom: 1rem;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}