    /* GENERAL */
    --title-color: rgb(255, 255, 255);
    --sub-title-color: rgb(197, 197, 197);
    --section-title-color: rgb(140, 140, 115);
    --background-color: rgb(14, 14, 12);
    --text-color: rgb(255, 255, 255);
    --border-color: rgb(53, 53, 53);

    /* BODY */
    --body-text-color: rgb(85, 85, 85);

    /* NAV */
    --nav-hover-color: rgb(181, 181, 181);

    /* ABOUT */
    --about-border-color: rgb(163, 163, 163);

    /* SKILLS */
    --skills-text-color: rgb(85, 85, 85);


    /* EXPERIENCE */
    --experience-border-color: rgb(163, 163, 163);
    --experience-text-color: rgb(85, 85, 85);

    /* CONTACT */
    --contact-border-color: rgb(163, 163, 163);
    }